{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

<div class="row mt-5 border border-info h-100">
    <div class="content col-3 pt-3 pb-5 h-100">
        <div class="row categories border-right border-info">
            <div class="col-12 h4">Categories</div>
            {% for c in categories %}
            <div class="col-12">
                <a href="{{ url_for('show_items', category = c.name) }}" class="card-link">{{c.name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="content col-9 pt-3 pb-5 h-100">
        <div class="row">
            <div class="col-10 h4">
                Latest Items
            </div>

            {%if 'username' in session %}
            <div class="col-2 my-auto">
                <a href="{{url_for('new_item')}}" class="btn btn-sm btn-outline-success" role="button" title="Add a new pedal">
                    <i class="fas fa-plus-square pr-2"></i>Add New
                </a>
            </div>
            {% endif %}
        </div>

        {% for i in items %}
        <div class="row">
            <div class="col-12">
                <a href="{{ url_for('item_details', category = i.category.name, title=i.title) }}" class="card-link">{{i.title}}</a>
                <span class="pl-3 font-italic category-link">(<a href="{{ url_for('show_items', category = i.category.name) }}" class="">{{i.category.name}}</a>)</span>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}